:root{
    --primaryColor: #18cfab;
}

* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Part */
.header {
    width: 100%;
    height: 100px;
    min-width: 1200px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.row {
    display: flex;
}

.container {
    width: 1160px;
    margin: 0 auto;
    height: 100%;
}

header > .container.row {
    justify-content: space-between;
    align-items: center;
}


.header-logo-text {
    display: flex;
    align-items: center;
}


.header-logo-text p {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.header-logo-text p span {
    cursor: pointer;
    font-weight: 600;
    padding-left: 1px;
    color: var(--primaryColor);
}

.header-logo-text img {
    padding-right: 10px;
    cursor: pointer;
}


.header-buttons ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.header-buttons ul li {
    padding-left: 16px;
    height: 100%;
    
}

.header-buttons ul li a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: all .4s ease;
    position: relative;
}

.header-buttons ul li a:hover {
    color: var(--primaryColor);
}
.header-buttons ul li a:hover::after {
    opacity: 1;
}

.header-buttons ul li img {
    cursor: pointer;
}

.header-buttons ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 2px solid var(--primaryColor);
    top: 58px;
    left: 0;
    opacity: 0;
    transition: all .4s ease;
}


/* First Section */

.first-section {
    background-attachment: fixed;
    /* default image */
    /* background-image: url('../Images/Sections background/section-1\(header\).jpg'); */
    background-image: url('../Images/night.jpg');

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 940px;
}

.headings {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.headings h3 {
    font-size: 25px;
    color: white;
    line-height: 70px;

}
.headings h3 span {
    color: var(--primaryColor);
}
.headings h1 {
    font-size: 55px;
    color: white;
}
.headings p {
    color: #d4d4d4;
    font-size: 25px;
    line-height: 70px;
}

.download-button-container button {
    margin-top: 70px;
    width: 140px;
    height: 60px;
    border-radius: 3px;
    outline: none;
    border: none;
    border-top: 4px solid white;
    color: white;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .4s ease;
}

.left-button {
    background-color: var(--primaryColor);
    margin-right: 50px;
}
.right-button {
    background-color: #00cbf6;
}
.right-button:hover {
    background-color: #009ab9;
    box-shadow: 0 -10px 10px #009ab9;
}

.left-button:hover {
    background-color: #12977d;
    box-shadow: 0 -10px 10px #12977d;

}

.download-button-container {
    justify-content: center;
}

/* Second Section */

.second-section {
    width: 100%;
    height: 400px;
}

.second-section img {
    padding-top: 135px;
    padding-bottom: 35px;
    display: block;
    margin: 0 auto;
}

.second-section div {
    width: calc(100% / 4);
    height: 100%;
}



.first-block, .third-block {
    border-top: 10px solid var(--primaryColor);
    background-color: #1c2a33;
    
}

.second-block, .fourth-block {
    background-color: var(--primaryColor);
    border-top: 10px solid white;
}




.first-block p, .third-block p{
    color: var(--primaryColor);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
} 

.second-block p, .fourth-block p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
} 


/* Third Section  Our Services*/

.third-section{
    height: 600px;
    
}

.section-title {
    text-align: center;
    font-size: 35px;
    margin-top: 90px;
    position: relative;
}

.section-title::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 1px;
    top: 65px;
    background-color: #18cfab;
    left: 45%;

}
.section-title::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 1px;
    top: 72px;
    background-color: #18cfab;
    left: 47%;
}


.tab-panel {
    margin-top: 100px;
}

.tab-list {
    list-style: none;
    justify-content: center;
}

.tab-list-element {
    background-color: #f8fcfe;
    width: 190px;
    height: 80px;
    text-align: center;
    border: 1px solid #ebecec;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: all .5s ease;
}

.active-tab {
    background-color: var(--primaryColor);
    color: white;
    border-color: var(--primaryColor);
    box-shadow: 0 0 10px gray;
    z-index: 10;
    

}

.active-tab::after {
    /* tab triangle */

    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 15px solid var(--primaryColor);
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    top: 100%;
    right: 75px;

}


/* third section tab content */

.content-panel {
    width: 100%;
    margin-top: 50px;
    padding: 0 10px;
}

.content-panel img {
    margin-right: 20px;
    transition: all .5s ease;
}

.content-panel p {
    line-height: 30px;
    text-align: justify;
    overflow: hidden;
}


/* Fourth Section Download section*/  

.fourth-section {
    height: 500px;
    background-attachment: fixed;
    background-image: url('../Images/Sections background/section-2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.dark-background {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.additional-btn {
    margin: 70px auto 0 auto;
    width: 140px;
    height: 60px;
    border-radius: 3px;
    outline: none;
    border: none;
    border-top: 4px solid white;
    color: white;
    cursor: pointer;
    transition: all .4s ease;
    background-color: var(--primaryColor);
    font-weight: 500;
    text-transform: uppercase;
}

.additional-btn:hover {
    background-color: #12977d;
    box-shadow: 0 -10px 10px #12977d;
}

.dark-background h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--primaryColor);
    text-align: center;
    font-weight: 500;
}

.dark-background h6 {
    margin-top: 30px;
    color: #d4d4d4;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}


/* Fifth section Our amazing Works */

.fifth-section {
    height: 1150px;
}


.filter-tabs-list {
    margin-top: 100px;
    list-style: none;
    justify-content: center;
    margin-bottom: 100px;
}


.filter-tab-item:first-child {
    background-color: #f8fcfe;
    width: 100px;
    height: 65px;
    text-align: center;
    border: 1px solid #ebecec;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: all .5s ease;
}    

.filter-tab-item:not(:first-child) {
    background-color: #f8fcfe;
    width: 175px;
    height: 65px;
    text-align: center;
    border: 1px solid #ebecec;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: all .5s ease;
}    

.filter-active {
    color: var(--primaryColor);
    border-top: 4px solid var(--primaryColor) !important; 
    box-shadow: 0 0 10px gray;
    z-index: 10;
}


.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.content-container img {
    width: 284px;
    height: 206px;
}



.loadMore {
    display: block;
    margin: 100px auto 0 auto;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: all .4s ease;
    background-color: var(--primaryColor);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

.loadMore span {
    font-size: 17px;
}
.loadMore:hover {
    background-color: #12977d;
    box-shadow: 0 0 10px #12977d;
}


.hoverBox {
    width: 284px;
    height: 206px;
    background-color: #f8fcfe;
    border-top: 4px solid var(--primaryColor);
    transition: all .5s ease-in;
}


/* Hover box for Our Amazing Works section */

.btn-container {
    margin-top: 40px;
    justify-content: center;
}
.hoverBox button {

   width: 40px; 
   height: 40px;
   border: 1px solid var(--primaryColor);
   background-color: #f8fcfe;
   cursor: pointer;
   border-radius: 100%;
   transition: all .2s ease;
   outline: none;
}

.big-text {
    text-transform: uppercase;
    color: var(--primaryColor);
    font-weight: 600;
    font-size: 17px;
    margin-top: 25px;
    text-align: center;
}

.small-text {
    margin-top: 15px;
    text-align: center;
}
.search-btn {
    margin-left: 7px;
}

.link-btn div {
    background-image: url('../Images/icons/link.png');
    width: 50%;
    height: 50%;
    margin-left: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.search-btn div {
    margin-left: 25%;
    background-image: url('../Images/icons/searchbtn.png');
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.link-btn:hover {
    background-color: var(--primaryColor);
}
.search-btn:hover{
    background-color: var(--primaryColor);
    
}





/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90px;
    background-color: #1c2a33;
}

.footer p {
    color: #d4d4d4;
    text-align: center;
    font-size: 14px;
}
.footer span a {
    color: var(--primaryColor);
    text-decoration: none;
    line-height: 30px;

}

.footer span a:hover {
    text-decoration: underline;
}



/* Loader animations */

.lds-roller {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    left: 25px;
    bottom: -250px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--primaryColor);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  